.span-day {
  background-color: var(--background-primary-gray);
}

.span-night {
  background-color: var(--background-primary-dark);
}

.moon-day {
  text-shadow: 0 0 2px #666666;
  color: var(--primary-gray);
}

.moon-night {
  text-shadow: 0 0 2px #666666;
  color: rgb(212, 212, 212);
}

.span-day:hover {
  transition: 500ms;
  background-color: var(--background-secundary-gray);
}

.span-night:hover {
  transition: 500ms;
  background-color: var(--background-secundary-dark);
}

.moon-day:hover {
  transition: 500ms;
  color: var(--secundary-gray);
}
.moon-night:hover {
  transition: 500ms;
  color: #fff;
}

.fa-sun {
  color: #ff7b00;
  transition: 500ms;
}

.fa-sun:hover {
  color: #ff9634;
  transition: 500ms;
}

.header-day {
  background: var(--transparent-dark);
  transition: 500ms ease-in-out;
}

.header-night {
  background: var(--dark);
  transition: 500ms ease-in-out;
}

.main-day {
  background-color: #fff;
  transition: 500ms ease-in-out;
}

.main-night {
  background-color: var(--dark-template);
  transition: 500ms ease-in-out;
}

.play-out-night {
  background: #fff;
  transition: 500ms;
}

.play-on-night {
  background: #f8f8f8;
  border: 1px solid #b3b3b3;
  transition: 500ms;
}

.play-night {
  color: #353535;
  transition: 500ms;
}

.reflect-night {
  box-shadow: 0px -1px 0px 0px rgb(173, 164, 164);
}

.alert-won {
  border: 5px solid #00ff6a;
}

.alert-tie {
  border: 5px solid #757575;
}

.alert-lost {
  border: 5px solid #ff0000;
}
