@font-face {
  font-family: 'pixlkrud';
  src: url('../fonts/pixlkrud.ttf');
}

@font-face {
  font-family: pixeland;
  src: url('../fonts/Pixeland.ttf');
}

@font-face {
  font-family: 'Enhanced Dot Digital-7';
  src: url('../fonts/enhanced_dot_digital-7.ttf');
}

@font-face {
  font-family: 'fipps';
  src: url('../fonts/Fipps-Regular.otf');
}
