.overlay-painter {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease all;
}

.overlay-painter-visible {
  visibility: visible;
  opacity: 1;
  transition: 500ms ease all;
}

.painter-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 400px;
  margin-top: 60px;
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #c2c1c1;
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-container i {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 2rem;
}

.hand-paint-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 30px;
  background: #f0f0f0;
}

.img-painter {
  width: 80px;
  margin-right: 80px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-section {
  width: 76px;
  height: 30px;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
