@import url('./fonts.css');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  width: 100%;
  margin-bottom: 100px;
  background: rgba(0, 0, 0, 0.075);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.349);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 20px 40px 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #363636;
}

nav .moon {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0 2px #1b1b1b;
  color: #4b4b4b;
}

nav span:hover {
  transition: 500ms;
  background-color: #3f3e3e;
}

nav .moon:hover {
  transition: 500ms;
  color: #666666;
}

.title-container {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 8rem;
  font-family: pixlkrud;
  color: #00ff6a;
  text-shadow: 1px 1px 1px #000;
}

.title:first-child {
  color: rgb(253, 70, 70);
}

.title:last-child {
  color: #00c1fc;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  margin-bottom: 10%;
}

.player-container {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.vs {
  text-align: center;
  width: 20%;
}

.vs p {
  font-family: 'Enhanced Dot Digital-7';
  font-size: 7rem;
  color: rgb(250, 0, 0);
  text-shadow: 0px 0px 5px #f00;
}

.img-container {
  width: 150px;
}

.img-container img {
  width: 100%;
}
