@import url('./fonts.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  box-shadow: 0px 0px 10px 0px #00000059;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
}

.icon-container i {
  font-size: 3.5rem;
  margin: 5px 5px;
}

nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}

nav .moon {
  font-size: 3.5rem;
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  justify-content: space-evenly;
}

.title {
  font-size: 5rem;
  font-family: pixlkrud;
  color: var(--neon-green);
  text-shadow: 1px 1px 1px #000;
}

/*Lo de abajo dice que cuando la pantalla  tenga un minimo de 768px de ancho va a aumentar el ".title" a 7rem y que agregue un
padding de 40 px a los lados del nav*/
@media (min-width: 768px) {
  .title {
    font-size: 7rem;
  }
  nav {
    padding: 0 40px;
  }
}

.title:first-child {
  color: var(--neon-red);
}

.title:last-child {
  color: var(--neon-blue);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  max-width: 870px;
  height: 80%;
}

.players {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 120px;
  margin-top: 20px;
}

.player-container {
  display: flex;
  justify-content: center;
  width: 40%;
}

.versus {
  font-family: 'Enhanced Dot Digital-7';
  font-size: 7rem;
  color: var(--secundary-red);
  text-shadow: 0px 0px 5px var(--secundary-red);
}

.img-container {
  position: relative;
  width: 90px;
}

.img-container img {
  width: 100%;
}

.buttons-container {
  width: 100%;
  min-width: 320px;
}

.btn-container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.btn-container2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-out {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: var(--neon-red);
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #2b2b2b;
  cursor: pointer;
}

.button-on {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #ee4747;
  box-shadow: 0 0 4px 0 rgb(44, 44, 44);
  background: var(--neon-red);
}

.button-on img {
  width: 30px;
}

.reflect {
  position: absolute;
  width: 62px;
  height: 60px;
  border-radius: 50%;
  /* border-top: 1px solid #000; */
  box-shadow: 0px -1px 0px 0px rgb(194, 59, 59);
  background-color: none;
  transform: rotate(40deg);
}

.play-out {
  background-color: #222222;
  transition: 500ms;
}

.play-on {
  background-color: #202020;
  border: 1px solid #3f3e3e;
  transition: 500ms;
}

.fa-play {
  color: #fff;
  transition: 500ms;
}

.reflect-play {
  box-shadow: 0px -1px 0px 0px #5a4d4d;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.overlay-visible {
  visibility: visible;
  opacity: 1;
  transition: 500ms;
}

.overlay-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease-in-out all;
}

.container-alerts {
  display: flex;
  justify-content: center;
  width: 100%;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  margin-top: 100px;
  background: #ffffff;
  border-radius: 8px;
}

.alert-visible {
  visibility: visible;
  opacity: 1;
  transition: 500ms ease all;
}

.alert-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease all;
}

.message {
  text-align: center;
  font-family: fipps;
  font-size: 3rem;
}

.message b {
  font-size: 4rem;
}

.retry-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 220px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 40px;
}

.btnr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  font-family: fipps;
  font-size: 1.6rem;
  border-radius: 6px;
  background: #fff;
  border: 2px solid #252525;
  cursor: pointer;
}

.btnr:hover {
  border: 2px solid #f74932;
}
